include ./partials/_admin_head.pug
include ./partials/_admin_header.pug
body
	.side_section
		if user.permissions.length > 0
			if user.permissions[0].manage_posts
				a(href="/admin/posts")
					h2 Posts
			if user.permissions[0].manage_users
				a(href="/admin/users")
					h2 Users
			

	.main_section
		block content

	script(src='/static/js/popup.js')
	script(src='/static/js/form.js')
	script(src='/static/js/forminfo.js')
	script(src='/static/js/admin.js')

	case admin_script
		when 'posts'
			script(src='/static/lib/summernote/summernote.js')
			script(src='/static/js/image_uploader.js')
			script(src='/static/js/admin_posts.js')
		when 'users'
			script(src='/static/js/admin_users.js')
		when 'visitors'
			script(src='/static/js/admin_visitors.js')


