extends ./layout.pug
block content

	.container 
		section#homepage
			h1 Home page
			h2 Posts ordered by popularity
			ul.list
				each post in posts
					li
						a(href="/posts/" + `${post.slug}`) #{post.title}

